.contactContainer {
  width: 60vw;
  max-width: 60vw;
  min-width: 40vw;
  text-align: center;
  margin: 0 auto;
}

.form-Control {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
}

form {
  margin: 25px 0;
}

input[type=text],
#text,
#submit,
label {
    border: none;
  background: transparent;
  margin: 10px auto;
  padding: 0 0 !important;
  cursor: pointer;
}

label {
  font-weight: 300;
}

input[type=text],
#text,
#submit {
  width: 80%;
  border-radius: 5px 5px;
  height: 2em;
}

input[type=text]:focus+label {
  color: rgb(34, 141, 255);
}

#text {
  border-top: 1px solid rgba(106, 90, 205, 0.8);
  border-bottom: 1px solid rgba(106, 90, 205, 0.8);
  height: 10em;
  resize: vertical;
}

#submit {
  border: 1px solid rgba(106, 90, 205, 0.8);
  height: 3em;
  background-color: transparent;
  font-weight: 500;
}

#submit:hover {
  transition: 0.3s ease-in-out;
  color: white;
  background-color: rgb(96, 80, 195) !important;
}


input[type=text] {
  border-bottom: 1px solid rgba(106, 90, 205, 0.8);
  margin-top: 0;
}
