.hero-container {
  height: 20vh;
  min-height: 500px;

  background: url('../../img/light.jpg') repeat-x center border-box;
  overflow-y: hidden;
  border: none;
  shadow: none !importnat;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(34,141,255, 0.5);
}

.hero-overlay, .hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-content {
  width: 60vw;
  height: 200px;
  text-align: center;
  color: #f7f5f6;
  border: 3px solid rgba(255, 255, 255, 0.8);
}

@media (max-width: 984px) {
  .hero-content {
    padding: 20px 10px;
    width: 75vw;
  }
}
