.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: max-content;
  width: 80vw;
  padding: 25px 25px;
  margin: 25px auto;
  z-index: 2;
}

.cards-container p {
  text-indent: 1.5em;
  text-align: justify;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
