.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 15px;
  justify-content: flex-start;
}

.card-img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 32px -32px 0 2px #f7f5f6, -32px -32px 0 2px #f7f5f6,
    -32px 32px 0 2px #f7f5f6, 32px 32px 0 2px #f7f5f6, 0 0 0 2px #f7f5f6;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  margin: 25px 15px;
}

.card-img:hover {
  animation: border 0.25s ease 1 forwards;
  cursor: pointer;
}

.card-caption {
  font-weight: 300;
  padding-top: 10px;
}

.card-content, .card-caption {
  width: 60vw;
  padding-left: 25px;
}

@keyframes border {
  0% {
    box-shadow: 32px -32px 0 2px #f7f5f6, -32px -32px 0 2px #f7f5f6,
      -32px 32px 0 2px #f7f5f6, 32px 32px 0 2px #f7f5f6, 0 0 0 2px #f7f5f6;
  }

  25% {
    box-shadow: 0 -69px 0 2px #f7f5f6, -32px -32px 0 2px #f7f5f6, -32px 32px 0 2px #f7f5f6, 32px 32px 0 2px #f7f5f6, 0 0 0 2px #228DFF;
  }

  50% {
    box-shadow: 0 -69px 0 2px #f7f5f6, -69px 0px 0 2px #f7f5f6, -32px 32px 0 2px #f7f5f6, 32px 32px 0 2px #f7f5f6, 0 0 0 2px #228DFF;
  }

  75% {
    box-shadow: 0 -69px 0 2px #f7f5f6, -69px 0px 0 2px #f7f5f6, 0px 69px 0 2px #f7f5f6, 32px 32px 0 2px #f7f5f6, 0 0 0 2px #228DFF;
  }

  100% {
    box-shadow: 0 -69px 0 2px #f7f5f6, -69px 0px 0 2px #f7f5f6, 0px 69px 0 2px #f7f5f6, 69px 40px 0 2px #f7f5f6, 0 0 0 2px #228DFF;
  }
}
