.modalBody {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(35, 35, 35, 0.9);
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow: hidden;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.modalContent {
  width: 45rem;
  height: 80vh;
}

.close {
  border-radius: 50%;
  position: relative;
  top: 16px;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(34, 141, 255);
  color: #fff;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.close:hover {
  background-color: rgba(34, 141, 255, 0.8);
}

img {
  height: 80vh;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
