.contact {
  width: auto;
  margin: 50px auto;
  padding: 25px 0;
}
.contactContainer {
  border: 1px solid  repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
.contactContainer:nth-child(2) {
      box-shadow: 0px 2px 0px  #232323;
}
.welcome {

  font-size:32px;
  color: white;
  padding: 10px 0;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
