h1 {
  font-weight: 300;
  font-size: 42px;
  margin: 0 25px;
}

nav {
  z-index: 10;
  postition: absolute;
  top: 0;
  bottom: 0;
  background-color: #222222;
  color: #f7f5f6;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
