.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}

.menu ul:nth-child(1) {
  padding-left: 0px;
}

li {
  padding: 5px 10px;
  margin: 5px 5px;
}

.active, .link {
  text-decoration: none;
  color: #f7f5f6;
}
